<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>The MVC Page Using the Razor Syntax</title>
</head>
<body>
    @if (ViewBag.UserName != null)
    { 
       <h1>This is a page that is rendered via the Razor View Engine.  Hello @ViewBag.UserName Welcome to MVC3!</h1>
    }
    else 
    { 
        <h1>No User logged in yet!</h1>
    }
</body>
</html>
